.videos{
    width: 73%;
    height: calc(100vh - 125px);
    margin-top: 75px;
    margin-right: 6%;
    /* background-color: red; */
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.videos::-webkit-scrollbar{
    display: none;
}

.videos .video-container{
    width: 32%;
    height: 245px;
 
    background-color: gainsboro;
    margin: 10px 0;
    border-radius: 8px;
}

.videos .video-container .video{
    width: 100%;
    height: 175px;
    border-bottom: 1px solid black;
    
}

.videos .video-container .video-info{
    width: 100%;
    height: 75px;
    
}

.line{
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 50px 0;
}

.short-name{
    width: 100%;
    font-size: 20px;
    position: relative;
    bottom: 25px;
}

.videos .short-video-container{
    width: 18.6%;
    height: 385px;
   
    background-color: gainsboro;
    
    border-radius: 8px;
}

.videos .short-video-container .short-video{
    width: 100%;
    height: 320px;
    border-bottom: 1px solid black;
   
}

.videos .short-video-container .short-video-info{
    width: 100%;
    height: 30px;
    
}

